@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@100;200;300;400;500;600;700&family=Dosis:wght@300;400;500;600;700;800&family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
@base{
  body{
    font-family: 'Anuphan', sans-serif;
    font-family: 'Dosis', sans-serif;
    font-family: 'Inconsolata', monospace;
    font-family: 'Source Sans Pro', sans-serif;
  }
}